@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}

.welcome {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.btn1 {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    display: none;
}

.disclaimer {
    font-family: 'Montserrat', sans-serif;
    color: red;
}

/*
Seriously just replace puzzle2.html with hint1.html it isn't that fucking hard
*/
